extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jennifer Macaranas
        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p I’ve been crafting beautiful websites for 10 years.
          p I’ve worked as a developer, designer, project manager, and marketing strategist for teams, companies, and clients.
          p I enjoy learning new technologies.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          each sk, i in skills
            li=sk
        h6 Contact Info

        //- Add your own contact info
        ul
          li 555-555-1234
          li email@email.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='') LinkedIn
        a.button.expanded(href='') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  