extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jennifer Macaranas
        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p I have the well-rounded experience of building websites — from planning & design, to development, to deployment & maintenance. I enjoy coding websites using technologies that focus on seamless user experience.
          p I have a strong design background with a meaningful digital marketing experience (I grow brands).
          p I craft websites to build businesses or bring ideas to life. I’ve repeatedly found that good design and clean code adds value to clients by solving problems.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          each sk, i in skills
            li=sk
        h6 Contact Info

        //- Add your own contact info
        ul
          li 236 513 9398
          li macci@webcrafterinc.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='') LinkedIn
        a.button.expanded(href='') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  