extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div 
      h1 Heading
      p.lead.text-light
        | Portfolio Description    
  article.grid-container.portfolio-index
      .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
        each proj, i in projects  
          .cell
            a(href='/project/'+i)
              img.thumbnail(src=proj.img)
              h5=proj.title
      
