extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1=project.title
        p.lead.text-light
          |
          span=project.description

      .cell.portfolio-meta.small-6.medium-2.large-3
        if project.technologies
          h6 Technologies
          ul
            each tech, i in project.technologies
              li=tech

        if project.url
          a.button.expanded(href=project.url) Live Demo
        if project.github
          a.button.expanded(href='') GitHub Repo
    
    //- Replace the URLs in the src attributes below with template literals and interpolation to dynamically add three project images.  You only have to add one image.  But adding more images to show your app in different states demonstrates a level of thoroughness and professionalism that potential employers will like to see. 
    img.image(src='/public/img/'+project.img)
    each ss, i in project.screenshots
      img.image(src='/public/img/'+ss)